<!DOCTYPE html>
<html>
<head>
<title>关于用户信息类接口</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../css/main.css">
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model.trim="q.qJsonvalue" @keyup.enter="query" placeholder="userId OR keyNO ...">
			</div>
			<div class="form-group col-sm-2" style="width: 300px;">
				<select class="form-control" @change="reload" v-model="q.qServiceType">
					<option value="">请选择业务类型</option>
					<option v-for="(v, i) in DDSServiceType" v-if="[3,4,5,9].indexOf(i) > -1" :value="i">{{v}}</option>
				</select>
			</div>
			<div class="form-group col-sm-2">
				<input id="_id_qCreateTimeStart" type="text" class="form-control" v-model.trim="q.qCreateTimeStart" placeholder="创建时间-开始条件">
			</div>
			<div class="form-group col-sm-2">
				<input id="_id_qCreateTimeEnd" type="text" class="form-control" v-model.trim="q.qCreateTimeEnd" placeholder="创建时间-结束条件">
			</div>
			<a class="btn btn-primary" @click="query">&nbsp;查询&nbsp;</a> 
			<a class="btn btn-primary" @click="empty">&nbsp;清空&nbsp;</a>
			<a class="btn btn-primary" @click="update">&nbsp;详情&nbsp;</a>
			<a v-if="hasPermission('dds:ddsuserservice:delete')" class="btn btn-primary" @click="del">&nbsp;删除&nbsp;</a> 
			<!-- btn-default -->
			<!--  v-if="hasPermission('dds:ddsuserservice:delete')" <i class="fa fa-trash-o"></i> -->
			<!-- 
			<a v-if="hasPermission('dds:ddsuserservice:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('dds:ddsuserservice:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			-->
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ddsUserService.id"  />
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">原始数据</div>
			   	<div class="col-sm-10">
			      <textarea rows="15" cols="100" v-model="ddsUserService.jsonvalue"></textarea>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">业务类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" :value="ddsUserService.serviceType | showType" />
			     	<!-- （ 3 开户 4 修改用户状态 5 销户 9用户分组新增） -->
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">平台版本 </div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" :value="ddsUserService.frominterfacepro" />
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">创建时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="ddsUserService.createTime" placeholder="创建时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<!-- <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp; -->
				<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/modules/dds/useLaydate.js"></script>
<script src="../../js/modules/dds/constant.js"></script>
<script src="../../js/modules/dds/ddsuserservice.js"></script>
</body>
</html>